$color-black: #363636;
$color-grey: #D3D3D3;
$color-white: #ffffff;
$color-white-hover: #f1f1f1;

$color-green: #D0F500;
$color-green-btn: #6ff78f;
$color-green-overlay: #6ff78f;
$color-blue: #76F3F6;
$color-blue-btn: #76F3F6;
$color-anthracite: #232323;
$color-grey-opacity: rgba(177, 177, 177, 0.75);
$color-grey-opacity-low: rgba(140, 140, 140, 0.35);
$color-white-opacity: rgba(255, 255, 255, 0.10);
